.alogo-active{ background-position: 0 0; width: 58px; height: 80px; } 
.alogo-hover{ background-position: 0 -81px; width: 58px; height: 80px; } 
.ducati-active{ background-position: 0 -162px; width: 58px; height: 46px; } 
.ducati-hover{ background-position: 0 -209px; width: 58px; height: 46px; } 
.flat-active{ background-position: 0 -256px; width: 78px; height: 35px; } 
.flat-hover{ background-position: 0 -292px; width: 78px; height: 35px; } 
.italia-active{ background-position: 0 -328px; width: 52px; height: 80px; } 
.italia-hover{ background-position: 0 -409px; width: 52px; height: 80px; } 
.itly-active{ background-position: 0 -490px; width: 66px; height: 80px; } 
.itly-hover{ background-position: 0 -571px; width: 66px; height: 80px; } 
.malizia-active{ background-position: 0 -652px; width: 35px; height: 21px; } 
.malizia-hover{ background-position: 0 -674px; width: 35px; height: 21px; } 
.marvis-active{ background-position: 0 -696px; width: 86px; height: 18px; } 
.marvis-hover{ background-position: 0 -715px; width: 86px; height: 18px; } 
.moto-active{ background-position: 0 -734px; width: 70px; height: 33px; } 
.moto-hover{ background-position: 0 -768px; width: 70px; height: 33px; } 
.multi-1-active{ background-position: 0 -802px; width: 20px; height: 35px; } 
.multi-1-hover{ background-position: 0 -838px; width: 20px; height: 35px; } 
.multi-2-active{ background-position: 0 -874px; width: 40px; height: 35px; } 
.multi-2-hover{ background-position: 0 -910px; width: 40px; height: 35px; } 
.multi-3-active{ background-position: 0 -946px; width: 21px; height: 35px; } 
.multi-3-hover{ background-position: 0 -982px; width: 21px; height: 35px; } 
.multi-4-active{ background-position: 0 -1018px; width: 32px; height: 32px; } 
.multi-4-hover{ background-position: 0 -1051px; width: 32px; height: 32px; } 
.multi-5-active{ background-position: 0 -1084px; width: 24px; height: 32px; } 
.multi-5-hover{ background-position: 0 -1117px; width: 24px; height: 32px; } 
.multi-6-active{ background-position: 0 -1150px; width: 32px; height: 32px; } 
.multi-6-hover{ background-position: 0 -1183px; width: 32px; height: 32px; } 
.multi7-active{ background-position: 0 -1216px; width: 38px; height: 25px; } 
.multi7-hover{ background-position: 0 -1242px; width: 38px; height: 25px; } 
.multi8-active{ background-position: 0 -1268px; width: 28px; height: 21px; } 
.multi8-hover{ background-position: 0 -1290px; width: 28px; height: 21px; } 
.official-active{ background-position: 0 -1312px; width: 106px; height: 80px; } 
.official-hover{ background-position: 0 -1393px; width: 106px; height: 80px; } 
.pror-active{ background-position: 0 -1474px; width: 41px; height: 25px; } 
.pror-hover{ background-position: 0 -1500px; width: 41px; height: 25px; } 
.puma-active{ background-position: 0 -1526px; width: 58px; height: 34px; } 
.puma-hover{ background-position: 0 -1561px; width: 58px; height: 34px; } 
.red-active{ background-position: 0 -1596px; width: 66px; height: 80px; } 
.red-hover{ background-position: 0 -1677px; width: 66px; height: 80px; } 
.sepox-active{ background-position: 0 -1758px; width: 78px; height: 36px; } 
.sepox-hover{ background-position: 0 -1795px; width: 78px; height: 36px; } 
.sicula-active{ background-position: 0 -1832px; width: 78px; height: 29px; } 
.sicula-hover{ background-position: 0 -1862px; width: 78px; height: 29px; } 
.thats-itlay-active{ background-position: 0 -1892px; width: 78px; height: 46px; } 
.thats-itlay-hover{ background-position: 0 -1939px; width: 78px; height: 46px; } 
.vr-active{ background-position: 0 -1986px; width: 70px; height: 36px; } 
.vr-hover{ background-position: -107px 0; width: 70px; height: 36px; } 

.alogo-active{ background-position: 0 0; width: 58px; height: 80px; } 
.alogo-hover{ background-position: 0 -81px; width: 58px; height: 80px; } 
.ducati-active{ background-position: 0 -162px; width: 58px; height: 46px; } 
.ducati-hover{ background-position: 0 -209px; width: 58px; height: 46px; } 
.flat-active{ background-position: 0 -256px; width: 78px; height: 35px; } 
.flat-hover{ background-position: 0 -292px; width: 78px; height: 35px; } 
.italia-active{ background-position: 0 -328px; width: 52px; height: 80px; } 
.italia-hover{ background-position: 0 -409px; width: 52px; height: 80px; } 
.itly-active{ background-position: 0 -490px; width: 66px; height: 80px; } 
.itly-hover{ background-position: 0 -571px; width: 66px; height: 80px; } 
.malizia-active{ background-position: 0 -652px; width: 35px; height: 21px; } 
.malizia-hover{ background-position: 0 -674px; width: 35px; height: 21px; } 
.marvis-active{ background-position: 0 -696px; width: 86px; height: 18px; } 
.marvis-hover{ background-position: 0 -715px; width: 86px; height: 18px; } 
.moto-active{ background-position: 0 -734px; width: 70px; height: 33px; } 
.moto-hover{ background-position: 0 -768px; width: 70px; height: 33px; } 
.multi-1-active{ background-position: 0 -802px; width: 20px; height: 35px; } 
.multi-1-hover{ background-position: 0 -838px; width: 20px; height: 35px; } 
.multi-2-active{ background-position: 0 -874px; width: 40px; height: 35px; } 
.multi-2-hover{ background-position: 0 -910px; width: 40px; height: 35px; } 
.multi-3-active{ background-position: 0 -946px; width: 21px; height: 35px; } 
.multi-3-hover{ background-position: 0 -982px; width: 21px; height: 35px; } 
.multi-4-active{ background-position: 0 -1018px; width: 32px; height: 32px; } 
.multi-4-hover{ background-position: 0 -1051px; width: 32px; height: 32px; } 
.multi-5-active{ background-position: 0 -1084px; width: 24px; height: 32px; } 
.multi-5-hover{ background-position: 0 -1117px; width: 24px; height: 32px; } 
.multi-6-active{ background-position: 0 -1150px; width: 32px; height: 32px; } 
.multi-6-hover{ background-position: 0 -1183px; width: 32px; height: 32px; } 
.multi7-active{ background-position: 0 -1216px; width: 38px; height: 25px; } 
.multi7-hover{ background-position: 0 -1242px; width: 38px; height: 25px; } 
.multi8-active{ background-position: 0 -1268px; width: 28px; height: 21px; } 
.multi8-hover{ background-position: 0 -1290px; width: 28px; height: 21px; } 
.official-active{ background-position: 0 -1312px; width: 106px; height: 80px; } 
.official-hover{ background-position: 0 -1393px; width: 106px; height: 80px; } 
.pror-active{ background-position: 0 -1474px; width: 41px; height: 25px; } 
.pror-hover{ background-position: 0 -1500px; width: 41px; height: 25px; } 
.puma-active{ background-position: 0 -1526px; width: 58px; height: 34px; } 
.puma-hover{ background-position: 0 -1561px; width: 58px; height: 34px; } 
.red-active{ background-position: 0 -1596px; width: 66px; height: 80px; } 
.red-hover{ background-position: 0 -1677px; width: 66px; height: 80px; } 
.sepox-active{ background-position: 0 -1758px; width: 78px; height: 36px; } 
.sepox-hover{ background-position: 0 -1795px; width: 78px; height: 36px; } 
.sicula-active{ background-position: 0 -1832px; width: 78px; height: 29px; } 
.sicula-hover{ background-position: 0 -1862px; width: 78px; height: 29px; } 
.thats-itlay-active{ background-position: 0 -1892px; width: 78px; height: 46px; } 
.thats-itlay-hover{ background-position: 0 -1939px; width: 78px; height: 46px; } 
.vr-active{ background-position: 0 -1986px; width: 70px; height: 36px; } 
.vr-hover{ background-position: -107px 0; width: 70px; height: 36px; } 
.zz-1-murano{ background-position: -107px -37px; width: 66px; height: 32px; } 
.zz-1-venetian-logo{ background-position: -107px -70px; width: 66px; height: 14px; } 
.zz-2-murano{ background-position: -107px -85px; width: 66px; height: 32px; } 
.zz-2-venetian-logo{ background-position: -107px -118px; width: 66px; height: 14px; }

.kappa-active{ background-position: 0 -2025px; width: 80px; height: 19px; } 
.kappa-hover{ background-position: 0 -2044px; width: 80px; height: 19px; } 
