
RewriteEngine on
RewriteCond %{HTTP_HOST} ^forzaducati\.com\.au$ [OR]
RewriteCond %{HTTP_HOST} ^www\.forzaducati\.com\.au$
RewriteRule ^/?$ "http\:\/\/www\.forzaitalia\.com\.au\/sport\/motorsport\/ducati\/" [R=301,L]

