

/* Table of Content
==================================================
    
  #Layout Structure
  #Page Styles
  ---##Header
  ---##Navigation
  ---##Content
  ---##Footer
  -----Footer Info
  -----Flickr Feed
  -----Twitter Feed
  #Module Styles
  -----Buttons
  -----Social Icons
  -----CTA
  -----Chart
  -----Tipsy

================================================== */

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
