/*
 * smart-grid.css
 * Created by Daniel Ryan on 2011-10-09
 * Copyright 2011 Daniel Ryan. All rights reserved.
 * Code developed under a BSD License: https://raw.github.com/dryan/css-smart-grid/master/LICENSE.txt
 * Version: 2.0.1
 * Latest update: 2012-09-11
 */

/*
 * Breakpoints:
 * Tablet              -   768px
 * Desktop             -   960px
 * Widescreen          -   1200px
 * Widescreen HD       -   1920px
 */
/*
 * Base container class
 */
.container {
		position: relative;
    padding: 0 35px;
    margin: 0 auto;
    clear: both;
}

/*
 * contain rows of columns
 */
.row:after {
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
html.ie7 .row {
  display: inline-block;
}
html.ie6 .row {
  height: 1%;
}

/*
 * Breakpoint: 960px
 */
@media screen and (min-width:960px) {
	.container {
		width: 940px;
	}
	.container .columns {
		width: 60px;
		float: left;
		margin-left: 20px;
	}
	.container .columns:first-child,
	.container .columns.first {
		margin-left: 0;
	}
	.container .offset-one {
		padding-left: 80px;
	}
	.container .columns.two {
		width: 140px;
	}
	.container .offset-two {
		padding-left: 160px;
	}
	.container .columns.one-fourth,
	.container .columns.three {
		width: 220px;
	}
	.container .offset-one-fourth,
	.container .offset-three {
		padding-left: 240px;
	}
	.container .columns.one-third,
	.container .columns.four {
		width: 300px;
	}
	.container .offset-one-third,
	.container .offset-four {
		padding-left: 320px;
	}
	.container .columns.five {
		width: 380px;
	}
	.container .offset-five {
		padding-left: 400px;
	}
	.container .columns.one-half,
	.container .columns.six {
		width: 460px;
	}
	.container .offset-one-half,
	.container .offset-six {
		padding-left: 480px;
	}
	.container .columns.seven {
		width: 540px;
	}
	.container .offset-seven {
		padding-left: 560px;
	}
	.container .columns.two-thirds,
	.container .columns.eight {
		width: 620px;
	}
	.container .offset-two-thirds,
	.container .offset-eight {
		padding-left: 640px;
	}
	.container .columns.three-fourths,
	.container .columns.nine {
		width: 700px;
	}
	.container .offset-three-fourths,
	.container .offset-nine {
		padding-left: 720px;
	}
	.container .columns.ten {
		width: 780px;
	}
	.container .offset-ten {
		padding-left: 800px;
	}
	.container .columns.eleven {
		width: 860px;
	}
	.container .offset-eleven {
		padding-left: 880px;
	}
	.container .columns.twelve {
		width: 940px;
	}
	.container .columns.one-fifth {
		width: 172px;
	}
	.container .offset-one-fifth {
		padding-left: 192px;
	}
	.container .columns.two-fifths {
		width: 364px;
	}
	.container .offset-two-fifths {
		padding-left: 384px;
	}
	.container .columns.three-fifths {
		width: 556px;
	}
	.container .offset-three-fifths {
		padding-left: 576px;
	}
	.container .columns.four-fifths {
		width: 748px;
	}
	.container .offset-four-fifths {
		padding-left: 768px;
	}
	.container .columns.five-fifths {
		width: 940px;
	}
	.container .offset-five-fifths {
		padding-left: 960px;
	}
}

/*
 * IE Fallback: 960px
 */
html.oldie .container {
	width: 940px;
}
html.oldie .container .columns {
	width: 60px;
}
html.oldie .container .offset-one {
	padding-left: 80px;
}
html.oldie .container .columns.two {
	width: 140px;
}
html.oldie .container .offset-two {
	padding-left: 160px;
}
html.oldie .container .columns.one-fourth,
html.oldie .container .columns.three {
	width: 220px;
}
html.oldie .container .offset-one-fourth,
html.oldie .container .offset-three {
	padding-left: 240px;
}
html.oldie .container .columns.one-third,
html.oldie .container .columns.four {
	width: 300px;
}
html.oldie .container .offset-one-third,
html.oldie .container .offset-four {
	padding-left: 320px;
}
html.oldie .container .columns.five {
	width: 380px;
}
html.oldie .container .offset-five {
	padding-left: 400px;
}
html.oldie .container .columns.one-half,
html.oldie .container .columns.six {
	width: 460px;
}
html.oldie .container .offset-one-half,
html.oldie .container .offset-six {
	padding-left: 480px;
}
html.oldie .container .columns.seven {
	width: 540px;
}
html.oldie .container .offset-seven {
	padding-left: 560px;
}
html.oldie .container .columns.two-thirds,
html.oldie .container .columns.eight {
	width: 620px;
}
html.oldie .container .offset-two-thirds,
html.oldie .container .offset-eight {
	padding-left: 640px;
}
html.oldie .container .columns.three-fourths,
html.oldie .container .columns.nine {
	width: 700px;
}
html.oldie .container .offset-three-fourths,
html.oldie .container .offset-nine {
	padding-left: 720px;
}
html.oldie .container .columns.ten {
	width: 780px;
}
html.oldie .container .offset-ten {
	padding-left: 800px;
}
html.oldie .container .columns.eleven {
	width: 860px;
}
html.oldie .container .offset-eleven {
	padding-left: 880px;
}
html.oldie .container .columns.twelve {
	width: 940px;
}
html.oldie .container .columns.one-fifth {
	width: 172px;
}
html.oldie .container .offset-one-fifth {
	padding-left: 192px;
}
html.oldie .container .columns.two-fifths {
	width: 364px;
}
html.oldie .container .offset-two-fifths {
	padding-left: 384px;
}
html.oldie .container .columns.three-fifths {
	width: 556px;
}
html.oldie .container .offset-three-fifths {
	padding-left: 576px;
}
html.oldie .container .columns.four-fifths {
	width: 748px;
}
html.oldie .container .offset-four-fifths {
	padding-left: 768px;
}
html.oldie .container .columns.five-fifths {
	width: 940px;
}
html.oldie .container .offset-five-fifths {
	padding-left: 960px;
}
html.oldie .container .columns {
	float: left;
	margin-left: 20px;
}
html.oldie .container .columns:first-child,
html.oldie .container .columns.first {
	margin-left: 0;
}
