/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-08-23 08:40:38 */


			.header-container.type3.sticky-header .menu-wrapper .mybag-link i{color:#fff}
			.header-container.type3.sticky-header .menu-wrapper .mybag-link .cart-qty{color:#000}
			