
RewriteEngine on
RewriteCond %{HTTP_HOST} ^napolistore\.com\.au$ [OR]
RewriteCond %{HTTP_HOST} ^www\.napolistore\.com\.au$
RewriteRule ^/?$ "http\:\/\/www\.forzaitalia\.com\.au\/sport\/football\/napoli\/" [R=301,L]

