<?xml version="1.0"?>
<config>
    <modules>
        <POS_System>
            <version>1.0.0</version>
        </POS_System>
    </modules>
    <global>
        <helpers>
            <retailexpress>
                <class>POS_System_Helper</class>
            </retailexpress>
        </helpers>
        <models>
            <retailexpress>
                <class>POS_System_Model</class>
                <resourceModel>retailexpress_mysql4</resourceModel>
            </retailexpress>
            <salesrule>
                <rewrite>
                    <rule_condition_product_combine>POS_System_Model_SalesRule_Rule_Condition_Product_Combine</rule_condition_product_combine>
                </rewrite>
            </salesrule>
            <catalogrule>
                <rewrite>
                    <rule_condition_combine>POS_System_Model_CatalogRule_Rule_Condition_Combine</rule_condition_combine>
                </rewrite>
            </catalogrule>
            <retailexpress_mysql4>
                <class>POS_System_Model_Mysql4</class>
                <entities>
                    <history>
                        <table>sync_history</table>
                    </history>
                    <log>
                        <table>sync_log</table>
                    </log>
                    <diagnostic>
                        <table>sync_diagnostic_list</table>
                    </diagnostic>
                    <order>
                        <table>sync_order</table>
                    </order>
                    <product>
                        <table>sync_product</table>
                    </product>
                    <job>
                        <table>sync_job</table>
                    </job>
                    <job_item>
                        <table>sync_job_item</table>
                    </job_item>
                    <attr>
                        <table>sync_attr</table>
                    </attr>
                    <conf>
                        <table>sync_conf</table>
                    </conf>
                    <payment>
                        <table>sync_payment</table>
                    </payment>
                    <outlet>
                        <table>sync_outlet</table>
                    </outlet>
                </entities>
            </retailexpress_mysql4>
        </models>
        <resources>
            <retailexpress_setup>
                <setup>
                    <module>POS_System</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </retailexpress_setup>
            <retailexpress_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </retailexpress_write>
            <retailexpress_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </retailexpress_read>
        </resources>
        <blocks>
            <retailexpress>
                <class>POS_System_Block</class>
            </retailexpress>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>POS_System_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>
                    <customer_edit_tabs>POS_System_Adminhtml_Block_Customer_Edit_Tabs</customer_edit_tabs>
                    <catalog_product_edit_tab_attributes>POS_System_Adminhtml_Block_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <account_navigation>POS_System_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <retail_product_view>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCatalogProductView</method>
                    </retail_product_view>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <retail_product_view>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCheckoutCartIndex</method>
                    </retail_product_view>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_cart_configure>
                <observers>
                    <retail_cart_configure>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCartConfigure</method>
                    </retail_cart_configure>
                </observers>
            </controller_action_predispatch_checkout_cart_configure>
            <controller_action_predispatch_customer_address_edit>
                <observers>
                    <retail_address_edit>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookUpdateCustomerInfo</method>
                    </retail_address_edit>
                </observers>
            </controller_action_predispatch_customer_address_edit>
            <controller_action_predispatch_customer_account_edit>
                <observers>
                    <retail_account_edit>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookUpdateCustomerInfo</method>
                    </retail_account_edit>
                </observers>
            </controller_action_predispatch_customer_account_edit>
            <sales_model_service_quote_submit_before>
                <observers>
                    <retail_order_save>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookOrderSave</method>
                    </retail_order_save>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <retail_order_cancel>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookOrderCancel</method>
                    </retail_order_cancel>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_model_service_quote_submit_after>
                <observers>
                    <retail_order_cancel>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookOrderDone</method>
                    </retail_order_cancel>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_payment_pay>
                <observers>
                    <retail_order_pay>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookOrderPay</method>
                    </retail_order_pay>
                </observers>
            </sales_order_payment_pay>
            <order_cancel_after>
                <observers>
                    <retail_order_cancel>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookOrderCancel</method>
                    </retail_order_cancel>
                </observers>
            </order_cancel_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <retail_multiorder_save>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookMultiOrderSave</method>
                    </retail_multiorder_save>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_multishipping_refund_all>
                <observers>
                    <retail_multiorder_cancel>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookMultiOrderCancel</method>
                    </retail_multiorder_cancel>
                </observers>
            </checkout_multishipping_refund_all>
            <checkout_submit_all_after>
                <observers>
                    <retail_multiorder_done>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookMultiOrderDone</method>
                    </retail_multiorder_done>
                </observers>
            </checkout_submit_all_after>
            <customer_login>
                <observers>
                    <retail_customer_login>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCustomerLogin</method>
                    </retail_customer_login>
                </observers>
            </customer_login>
            <adminhtml_customer_save_after>
                <observers>
                    <retail_customer_save>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCustomerSave</method>
                    </retail_customer_save>
                </observers>
            </adminhtml_customer_save_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <clickandcollect_checkout_type_onepage_save_order>
                        <type>model</type>
                        <class>retailexpress/observer</class>
                        <method>setCustomerOrderData</method>
                    </clickandcollect_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <controller_action_predispatch>
                <observers>
                    <controllerpredispatch>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>pageLoadBefore</method>
                    </controllerpredispatch>
                </observers>
            </controller_action_predispatch>
            <catalog_product_import_finish_before>
                <observers>
                    <retail_after_product_import>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>afterProductImport</method>
                    </retail_after_product_import>
                </observers>
            </catalog_product_import_finish_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<retailexpress before="Mage_Adminhtml">POS_System_Adminhtml</retailexpress>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <history translate="title" module="retailexpress">
                        <title>POS System (v1.7)</title>
                        <sort_order>17</sort_order>
                        <children>
                            <retailhistory translate="title">
                                <title>Synchronisation Manager</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/retailexpress</action>
                                <depends>
                                    <config>retailexpress/main/enabled</config>
                                </depends>
                            </retailhistory>
                            <retaillog translate="title">
                                <title>System Logs</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/retaillog</action>
                                <depends>
                                    <config>retailexpress/main/enabled</config>
                                </depends>
                            </retaillog>
                            <retaildiagnostic translate="title">
                                <title>Diagnostic Tool</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/retaildiagnostic</action>
                                <depends>
                                    <config>retailexpress/main/enabled</config>
                                </depends>
                            </retaildiagnostic>
                            <retailexpress translate="title">
                                <title>Settings</title>
                                <sort_order>5</sort_order>
                                <action>adminhtml/retail</action>
                            </retailexpress>
                        </children>
                    </history>
                 </children>
            </system>
        </menu>
        <layout>
            <updates>
                <retailexpress>
                    <file>retailexpress.xml</file>
                </retailexpress>
                <retaillog>
                    <file>retaillog.xml</file>
                </retaillog>
                <retaildiagnostic>
                    <file>retaildiagnostic.xml</file>
                </retaildiagnostic>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <retail_product_addbutton>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookIntoCoreBlockAbstractPrepareLayoutAfter</method>
                    </retail_product_addbutton>
                </observers>
            </core_block_abstract_to_html_before>

        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <retailexpress_overnight>
                <schedule>
                    <config_path>retailexpress/main/cron</config_path>
                </schedule>
                <run>
                    <model>retailexpress/cron::update</model>
                </run>
            </retailexpress_overnight>
            <retailexpress_bulk>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>retailexpress/cron::synchronizeBulk</model>
                </run>
            </retailexpress_bulk>
            <retailexpress_prepare_cron_log>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>retailexpress/cron::dumpCronLog</model>
                </run>
            </retailexpress_prepare_cron_log>
            <retailexpress_refresh_url_keys>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>retailexpress/cron::refreshUrlKeys</model>
                </run>
            </retailexpress_refresh_url_keys>
            <retailexpress_clear_singlethreaded_lock_files>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>retailexpress/cron::clearOldSinglethreadedLockFiles</model>
                </run>
            </retailexpress_clear_singlethreaded_lock_files>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <retailexpress>
                <use>standard</use>
                <args>
                    <module>POS_System</module>
                    <frontName>retailexpress</frontName>
                </args>
            </retailexpress>
        </routers>
        <layout>
            <updates>
                <temando>
                    <file>retailexpress.xml</file>
                </temando>
            </updates>
        </layout>
        <events>
            <customer_save_after>
                <observers>
                    <retail_customer_save>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCustomerSave</method>
                    </retail_customer_save>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <retail_address_save>
                        <type>singleton</type>
                        <class>retailexpress/observer</class>
                        <method>hookCustomerAddressSave</method>
                    </retail_address_save>
                </observers>
            </customer_address_save_after>
        </events>
    </frontend>
    <default>
        <retailexpress>
            <main>
                <server_type>sharedhi</server_type>
                <sales_channel_id>1</sales_channel_id>

                <!-- Default products to sync at 00:30 (12:30 am) -->
                <cron>30 0 * * *</cron>
            </main>
            <observers>
                <catalog_product_view>1</catalog_product_view>
            </observers>
        </retailexpress>
    </default>
</config>
