<?xml version="1.0"?>
<config>
    <modules>
        <POS_ETA>
            <version>1.0.0</version>
        </POS_ETA>
    </modules>
    <global>
        <helpers>
            <eta>
                <class>POS_ETA_Helper</class>
            </eta>
        </helpers>
        <models>
            <eta>
                <class>POS_ETA_Model</class>
            </eta>
            <cataloginventory>
                <rewrite>
                    <stock_item>POS_ETA_Model_CatalogInventory_Stock_Item</stock_item>
                    <stock>POS_ETA_Model_CatalogInventory_Stock</stock>
                </rewrite>
            </cataloginventory>
            <cataloginventory_mysql4>
                <rewrite>
                    <stock>POS_ETA_Model_CatalogInventory_Mysql4_Stock</stock>
                    <stock_status>POS_ETA_Model_CatalogInventory_Mysql4_Stock_Status</stock_status>
                </rewrite>
            </cataloginventory_mysql4>
        </models>
        <resources>
            <eta_setup>
                <setup>
                    <module>POS_ETA</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eta_setup>
            <eta_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eta_write>
            <eta_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eta_read>
        </resources>
        <blocks>
            <eta>
                <class>POS_ETA_Block</class>
            </eta>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>POS_ETA_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                    <product_view_type_simple>POS_ETA_Block_Catalog_Product_View_Type_Simple</product_view_type_simple>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart>POS_ETA_Block_Checkout_Cart</cart>
                    <cart_item_renderer>POS_ETA_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_configurable>POS_ETA_Block_Checkout_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
        </blocks>
        <events>
            <catalog_product_prepare_save>
				<observers>
					<eta_catalog_product_prepare_save>
						<type>singleton</type>
						<class>eta/observer</class>
						<method>hookIntoCatalogProductPrepareSave</method>
					</eta_catalog_product_prepare_save>
				</observers>
            </catalog_product_prepare_save>
            <catalog_product_is_salable_after>
				<observers>
					<eta_catalog_product_is_salable_after>
						<type>singleton</type>
						<class>eta/observer</class>
						<method>catalogProductIsSalableAfter</method>
					</eta_catalog_product_is_salable_after>
				</observers>
            </catalog_product_is_salable_after>
            <controller_action_predispatch>
                <observers>
                    <eta_controller_action_predispatch>
                        <type>singleton</type>
                        <class>eta/observer</class>
                        <method>hookPageLoadBefore</method>
                    </eta_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <checkout_type_onepage_save_order>
                <observers>
                    <eta_checkout_type_onepage_save_order>
                        <type>model</type>
                        <class>eta/observer</class>
                        <method>setOrderEta</method>
                    </eta_checkout_type_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>

                    <eta_checkout_type_multishipping_create_orders_single>
                        <type>model</type>
                        <class>eta/observer</class>
                        <method>setOrderEta</method>
                    </eta_checkout_type_multishipping_create_orders_single>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <!--fire product stock update procedure on "ETA Calculation Enabled" option change-->
            <admin_system_config_changed_section_retailexpress>
                <observers>
                    <inventory>
                        <class>cataloginventory/observer</class>
                        <method>updateItemsStockUponConfigChange</method>
                    </inventory>
                </observers>
            </admin_system_config_changed_section_retailexpress>
		</events>
    </global>
    <frontend>
        <layout>
            <updates>
                <eta>
                    <file>eta.xml</file>
                </eta>
            </updates>
        </layout>
    	<routers>
      		<eta>
      			<use>standard</use>
       			<args>
       				<module>POS_ETA</module>
       				<frontName>poseta</frontName>
       			</args>
      		</eta>
    	</routers>
    </frontend>
</config>
