<?xml version="1.0"?>
<config>
    <modules>
        <Olegnax_Slideshowtimeline>
            <version>0.1.3</version>
        </Olegnax_Slideshowtimeline>
    </modules>
    <frontend>
        <layout>
            <updates>
                <slideshowtimeline>
                    <file>olegnax_slideshowtimeline.xml</file>
                </slideshowtimeline>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<slideshowtimeline>
				<use>admin</use>
				<args>
					<module>Olegnax_Slideshowtimeline</module>
					<frontName>slideshowtimeline</frontName>
				</args>
			</slideshowtimeline>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<olegnax translate="title" module="slideshowtimeline">
				<title>Olegnax</title>
				<sort_order>9999</sort_order>
				<children>
					<slideshowtimeline translate="title" module="slideshowtimeline">
						<title>Slideshow with Timeline</title>
						<sort_order>20</sort_order>
						<children>
							<items translate="title" module="slideshowtimeline">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>slideshowtimeline/adminhtml_slideshowtimeline</action>
							</items>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/slideshowtimeline</action>
							</configuration>
						</children>
					</slideshowtimeline>
				</children>
			</olegnax>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Olegnax_Slideshowtimeline>
							<title>Slideshowtimeline Module</title>
							<sort_order>10</sort_order>
						</Olegnax_Slideshowtimeline>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <slideshowtimeline>
                <class>Olegnax_Slideshowtimeline_Model</class>
                <resourceModel>slideshowtimeline_mysql4</resourceModel>
            </slideshowtimeline>
            <slideshowtimeline_mysql4>
                <class>Olegnax_Slideshowtimeline_Model_Mysql4</class>
                <entities>
                    <slideshowtimeline>
                        <table>slideshowtimeline</table>
                    </slideshowtimeline>
	                <slideshowtimeline_store>
                        <table>slideshowtimeline_store</table>
                    </slideshowtimeline_store>
                </entities>
            </slideshowtimeline_mysql4>
        </models>
        <resources>
            <slideshowtimeline_setup>
                <setup>
                    <module>Olegnax_Slideshowtimeline</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshowtimeline_setup>
            <slideshowtimeline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshowtimeline_write>
            <slideshowtimeline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshowtimeline_read>
        </resources>
        <blocks>
            <slideshowtimeline>
                <class>Olegnax_Slideshowtimeline_Block</class>
            </slideshowtimeline>
        </blocks>
        <helpers>
            <slideshowtimeline>
                <class>Olegnax_Slideshowtimeline_Helper</class>
            </slideshowtimeline>
        </helpers>
    </global>
	<default>
		<slideshowtimeline>
			<slideshowtimeline_config>
				<enabled>1</enabled>
				<show_timeline>1</show_timeline>
				<interval>6000</interval>
				<speed>1000</speed>
				<fade_speed>400</fade_speed>
				<effect>fade</effect>
				<details>DETAILS</details>
			</slideshowtimeline_config>
		</slideshowtimeline>
	</default>
</config>